* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textos {
    width: 600px;
}

h2 {
    color: #333;
    font-size: 60px;
    font-weight: bold;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

button {
    background-color: #017143;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 40px;
    transition: 0.5s;
}

button:hover {
    background-color: #12dd88;
}

.img1 {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}

.img-copo {
    inline-size: 340px;
}

.Menu {
    display: flex;
    justify-content: center;
    margin-top: -45px;
}

.botao-menu:hover {
    transform: translateY(-25px);

}

.botao-menu {
    width: 70px;
    cursor: pointer;
    transition: 1s;
}

.circulo {
    background: #017143;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}

.logo {
    width: 80px;
}

@media (max-width: 1100px) {
    body {
        padding: 5px;
    }
    
    .textos {
        width: 120%;
        margin-top: -200px;
    }

    h2 {
        font-size: 30px;
    }

    span {
        font-size: 40px;
    }

    p {
        font-size: 14px;
    }

    button {
        padding: 8px;
        margin-top: 15px;
        border-radius: 30px;
    }

    .img1 {
        width: 50%;
        margin-top: 50px;
        justify-content: flex-end;
        margin-left: auto;
        margin-top: 200px;
    }

    .img-copo {
        inline-size: 90%;
        margin-left: 198px;
        margin-top: 230px;
    }

    .circulo {
        clip-path: circle(200px at right 200px);
        right: -50px;
        top: 400px;
    }

    .logo {
        width: 50px;
    }

    .Menu {
        flex-direction: row;
        justify-content: flex-start;
    }

    .botao-menu {
        width: 80px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    }

    @media (max-width: 460px) {
        body {
            padding: 5px;
        }
        
        .textos {
            width: 40%;
            margin-top: -250px;
        }

        h2 {
            font-size: 25px;
        }

        span {
            font-size: 30px;
        }

        p {
            font-size: 20x;
        }

        button {
            padding: 3px;
            margin-top: 15px;
            border-radius: 30px;
        }

        .img1 {
            width: 35%;
            margin-top: 50px;
            justify-content: flex-end;
            margin-left: auto;
            margin-top: 300px;
        }

        .img-copo {
            inline-size: 90%;
            margin-left: 90px;
            margin-top: 90px;
        }

        .circulo {
            clip-path: circle(150px at right 150px);
            right: -50px;
            top: 390px;
        }

        .logo {
            width: 50px;
        }

        .Menu {
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 190px;
        }

        .botao-menu {
            width: 60px;
            margin-bottom: 20px;
            margin-left: 20px;
        }
    }